#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1725R.
#

# Period Constraints 
#FREQUENCY NET "clk1" 225.5 MHz;
#FREQUENCY PORT "JTAG_TCK" 173.2 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "JTAG_TCK" TO CLKNET "clk1";
#BLOCK PATH FROM CLKNET "clk1" TO CLKNET "JTAG_TCK";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
