body {
        margin: 10px;
        font-family: Opensans, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
        line-height: 1.4em;
        color: #666666;
}

a:link:active  { color: #1f9dd8; text-decoration: none;}
a:link         { color: #1f9dd8; text-decoration: none;}
a:visited      { color: #1f9dd8; text-decoration: none;}
a:link:hover, a:visited:hover   { text-decoration: underline;}

P.Body {
	text-align: left;
	margin-top: 0pt;
	margin-bottom: 0.7em;
}

UL {
	list-style-type: square;
        margin-top: 0;
        margin-bottom: 0.7em;
	margin-left: -0.25in;
}

LI {
	margin-top: 0pt;
	margin-bottom: 0.7em;
}

P.Code {
	display: block;
	text-align: left;
        text-indent: -8pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New", Courier, monospace;
}
P.CodeIndented, P.CodeIndented2, P.CodeIndented3 {
	display: block;
	text-align: left;
        text-indent: -8pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New", Courier, monospace;
}

H4.Heading3 {
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 1em;
	padding-bottom: 1.1em;
        border-bottom-color: #E5E5E5;
        border-bottom-style: solid;
        border-bottom-width: 2px;
}

H6.HeadingRunIn {
	margin-top: 1.4em;
	margin-bottom: 0em;
	font-size: 10pt;
	font-weight: bold;
}
P.Indented, P.Indented2, P.Indented3 {
	display: block;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-right: 0.000000pt;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
P.NoteTitle, P.NoteTitleIndented {
	display: block;
	text-align: left;
        text-indent: 0;
	margin-top: 0.000000pt;
	margin-bottom: 3px;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
LI.Numbered, LI.NumberedIndented, LI.CellNumbered {
	display: block;
	text-align: left;
	margin-top: 0pt;
	margin-bottom: 7px;
	margin-right: 0.000000pt;
	margin-left: 0;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
P.StepIntro {
	display: block;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-style: italic;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
P.TableFootnote {
	display: block;
	text-align: left;
        text-indent: 0;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
P.TableTitle {
	display: block;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 0.000000pt;
	margin-right: 0px;
	margin-left: 4.000000pt;
        padding-top: 1px;
        padding-bottom: 2px;
	font-weight: bold;
        color: white;
        background-color: #000099
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

PLAIN-TEXT.Callout {
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
CODE.Code {
	font-family: "Courier New", Courier, monospace;
}
VAR.CodeVariable {
	font-style: italic;
	font-family: "Courier New", Courier, monospace;
}
EM.Emphasis {
	font-style: italic;
}
STRONG.GUI {
	font-weight: bold;
}
SPAN.Hyperlink {
        color: blue;
#	color: #00007f;
	text-decoration: underline;
}
PLAIN-TEXT.Popup {
}
PLAIN-TEXT.Superscript {
	vertical-align: super;
}
PLAIN-TEXT.zBulleted {
	font-size: 7.000000pt;
	color: #00007f;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
TABLE {
        margin-bottom: 20px;
}
TH {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
}
TD {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 0px;
}
