#
# Logical Preferences generated for Lattice by Synplify map520lat, Build 110R.
#

# Period Constraints
FREQUENCY NET "clk" 1.0 MHz;
# Output Constraints
# Input Constraints
# Point-to-point Delay Constraints 


BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
