COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "led_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE I2C_PORT=DISABLE MASTER_SPI_PORT=DISABLE GENERATE_BITSTREAM=ENABLE COMPRESS_CONFIG=ON CONFIGURATION=CFG MY_ASSP=OFF ONE_TIME_PROGRAM=OFF CONFIG_SECURE=OFF MCCLK_FREQ=2.08 JTAG_PORT=ENABLE SDM_PORT=DISABLE ;
IOBUF PORT "xout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "xin" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi_csn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "analog_out" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=24 SLEWRATE=FAST ;
IOBUF PORT "audio_pwm_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 ;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "spi_sclk" IO_TYPE=LVCMOS33 PULLMODE=UP BANK=2 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
FREQUENCY NET "clk" 25.000000 MHz ;
IOBUF PORT "clk_pll" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lock_pll" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
