p.Body, div.Body, caption.Body
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.BodyAfterHead, div.BodyAfterHead, caption.BodyAfterHead
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h1.BookTitle, div.BookTitle, caption.BookTitle
{
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.33em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Bulleted, caption.Bulleted
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.BulletedIndented, caption.BulletedIndented
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.BulletedIndented2, caption.BulletedIndented2
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 49.68pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.560000000000002pt;
  text-transform: none;
  vertical-align: baseline;
}

p.Callout, div.Callout, caption.Callout
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBody, caption.CellBody
{
  background-color: Transparent;
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBulleted, caption.CellBulleted
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 14.4pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -14.4pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellHeading, caption.CellHeading
{
  background-color: Transparent;
  color: Black;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0em;
  padding-bottom: 0em;
  text-align: center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellNumbered, caption.CellNumbered
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 14.4pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -14.4pt;
  text-transform: none;
  vertical-align: baseline;
}

div.ChapterNumber, caption.ChapterNumber
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.Code, div.Code, caption.Code
{
  color: #333333;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.CodeIndented, div.CodeIndented, caption.CodeIndented
{
  color: #333333;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.CodeIndented2, div.CodeIndented2, caption.CodeIndented2
{
  color: #333333;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.CodeIndented3, div.CodeIndented3, caption.CodeIndented3
{
  color: #333333;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 49.68pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CoverBody, caption.CoverBody
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.CoverHeading3, div.CoverHeading3, caption.CoverHeading3
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.DropDown, div.DropDown, caption.DropDown
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #0088CC;
  cursor: pointer;
  cursor: hand;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.FigureFrame, caption.FigureFrame
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.FigureTitle, caption.FigureTitle
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.GlossDef, div.GlossDef, caption.GlossDef
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.GlossTerm, div.GlossTerm, caption.GlossTerm
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h2.Heading1, div.Heading1, caption.Heading1
{
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.33em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h3.Heading2, div.Heading2, caption.Heading2
{
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.33em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h4.Heading3, div.Heading3, caption.Heading3
{
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.33em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.HeadingRunIn, div.HeadingRunIn, caption.HeadingRunIn
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Indented, caption.Indented
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.Indented2, div.Indented2, caption.Indented2
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.Indented3, div.Indented3, caption.Indented3
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 49.68pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NoteTitle, caption.NoteTitle
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NoteTitleIndented, caption.NoteTitleIndented
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered, caption.Numbered
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NumberedIndented, caption.NumberedIndented
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Popup, caption.Popup
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PopupAppend, caption.PopupAppend
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Portal, caption.Portal
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.RelatedTopic, caption.RelatedTopic
{
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.StepIntro, div.StepIntro, caption.StepIntro
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.TableFootnote, div.TableFootnote, caption.TableFootnote
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  color: #333333;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TableTitle, caption.TableTitle
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h1.Title, div.Title, caption.Title
{
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.33em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

span.Callout, span.Callout a, span.Callout a:active, abbreviation.Callout, abbreviation.Callout a, abbreviation.Callout a:active, acronym.Callout, acronym.Callout a, acronym.Callout a:active, citation.Callout, citation.Callout a, citation.Callout a:active
{
  color: #000000;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

code.Code, code.Code a, code.Code a:active, abbreviation.Code, abbreviation.Code a, abbreviation.Code a:active, acronym.Code, acronym.Code a, acronym.Code a:active, citation.Code, citation.Code a, citation.Code a:active
{
  font-family: 'Courier New', Courier, Monospace;
}

code.CodeVariable, code.CodeVariable a, code.CodeVariable a:active, abbreviation.CodeVariable, abbreviation.CodeVariable a, abbreviation.CodeVariable a:active, acronym.CodeVariable, acronym.CodeVariable a, acronym.CodeVariable a:active, citation.CodeVariable, citation.CodeVariable a, citation.CodeVariable a:active
{
  font-family: 'Courier New', Courier, Monospace;
  font-style: italic;
}

em.Emphasis, em.Emphasis a, em.Emphasis a:active, abbreviation.Emphasis, abbreviation.Emphasis a, abbreviation.Emphasis a:active, acronym.Emphasis, acronym.Emphasis a, acronym.Emphasis a:active, citation.Emphasis, citation.Emphasis a, citation.Emphasis a:active
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-style: italic;
}

span.EquationVariables, span.EquationVariables a, span.EquationVariables a:active, abbreviation.EquationVariables, abbreviation.EquationVariables a, abbreviation.EquationVariables a:active, acronym.EquationVariables, acronym.EquationVariables a, acronym.EquationVariables a:active, citation.EquationVariables, citation.EquationVariables a, citation.EquationVariables a:active
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-style: italic;
}

span.GUI, span.GUI a, span.GUI a:active, abbreviation.GUI, abbreviation.GUI a, abbreviation.GUI a:active, acronym.GUI, acronym.GUI a, acronym.GUI a:active, citation.GUI, citation.GUI a, citation.GUI a:active
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

span.Hyperlink, span.Hyperlink a, span.Hyperlink a:active, abbreviation.Hyperlink, abbreviation.Hyperlink a, abbreviation.Hyperlink a:active, acronym.Hyperlink, acronym.Hyperlink a, acronym.Hyperlink a:active, citation.Hyperlink, citation.Hyperlink a, citation.Hyperlink a:active
{
  color: #1F9DD8;
}

span.Popup, span.Popup a, span.Popup a:active, abbreviation.Popup, abbreviation.Popup a, abbreviation.Popup a:active, acronym.Popup, acronym.Popup a, acronym.Popup a:active, citation.Popup, citation.Popup a, citation.Popup a:active
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
}

sup.Superscript, sup.Superscript a, sup.Superscript a:active, abbreviation.Superscript, abbreviation.Superscript a, abbreviation.Superscript a:active, acronym.Superscript, acronym.Superscript a, acronym.Superscript a:active, citation.Superscript, citation.Superscript a, citation.Superscript a:active
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  vertical-align: super;
}

span.zBulleted, span.zBulleted a, span.zBulleted a:active, abbreviation.zBulleted, abbreviation.zBulleted a, abbreviation.zBulleted a:active, acronym.zBulleted, acronym.zBulleted a, acronym.zBulleted a:active, citation.zBulleted, citation.zBulleted a, citation.zBulleted a:active
{
  color: #ffbf0c;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

table.Code
{
  border-bottom-color: #CFCFCF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.Column_Borders
{
  border-bottom-color: #CFCFCF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.Format_B
{
  border-bottom-color: #CFCFCF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
}

table.Format_A
{
  border-bottom-color: #CFCFCF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.UnstructMasterPageMaps
{
  border-bottom-color: #CFCFCF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.Figure
{
  border-bottom-color: #CFCFCF;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: none;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: center;
}

table.Note
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.NoteIndented
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #CFCFCF;
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: #CFCFCF;
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

img.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
}

video.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
}

