#
# Logical Preferences generated for Lattice by Synplify map500lat, Build 128R.
#

# Period Constraints
FREQUENCY PORT "clk" 456.8 MHz;
# Output Constraints
# Input Constraints
# Point-to-point Delay Constraints 


BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
