COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led[0]" SITE "F1" ;
LOCATE COMP "led[1]" SITE "F2" ;
LOCATE COMP "led[2]" SITE "F3" ;
LOCATE COMP "led[3]" SITE "H2" ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "rst_n" SITE "K2" ;
IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "spi_csn" SITE "P3" ;
LOCATE COMP "spi_miso" SITE "N4" ;
LOCATE COMP "spi_mosi" SITE "P13" ;
LOCATE COMP "spi_sclk" SITE "M4" ;
#SYSCONFIG SLAVE_SPI_PORT=DISABLE I2C_PORT=DISABLE MASTER_SPI_PORT=DISABLE GENERATE_BITSTREAM=ENABLE COMPRESS_CONFIG=ON CONFIGURATION=CFG MY_ASSP=OFF ONE_TIME_PROGRAM=OFF CONFIG_SECURE=OFF MCCLK_FREQ=2.08 JTAG_PORT=ENABLE SDM_PORT=DISABLE ;
LOCATE COMP "sw[3]" SITE "B1" ;
LOCATE COMP "uart_rx" SITE "H1" ;
LOCATE COMP "uart_tx" SITE "H3" ;
LOCATE COMP "xin" SITE "C2" ;
LOCATE COMP "xout" SITE "D1" ;
IOBUF PORT "xout" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "xin" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sw[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi_csn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "analog_cmp_p" SITE "E1" ;
LOCATE COMP "audio_pwm_out" SITE "E3" ;
LOCATE COMP "analog_out" SITE "C1" ;
IOBUF PORT "analog_out" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=24 SLEWRATE=FAST ;
IOBUF PORT "audio_pwm_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 ;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "spi_sclk" IO_TYPE=LVCMOS33 PULLMODE=UP BANK=2 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "sw[0]" SITE "C10" ;
LOCATE COMP "sw[1]" SITE "B13" ;
LOCATE COMP "sw[2]" SITE "A13" ;
#LOCATE COMP "scl" SITE "C8" ;
#LOCATE COMP "sda" SITE "B8" ;
#FREQUENCY NET "clk" 25.000000 MHz ;
LOCATE COMP "clk_pll" SITE "M7" ;
LOCATE COMP "lock_pll" SITE "P7" ;
IOBUF PORT "clk_pll" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lock_pll" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "N7" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
MAXDELAY FROM PORT "rst_n" TO CELL "reset_gen*" 5.000000 ns ;
CLOCK_TO_OUT PORT "led[0]" 8.000000 ns MIN 0.000000 ns CLKNET "clk_c" ;
CLOCK_TO_OUT PORT "led[1]" 8.000000 ns MIN 0.000000 ns CLKNET "clk_c" CLKOUT PORT "led[1]" ;
CLOCK_TO_OUT PORT "led[2]" 8.000000 ns MIN 0.000000 ns CLKNET "clk_c" CLKOUT PORT "led[2]" ;
CLOCK_TO_OUT PORT "led[3]" 8.000000 ns MIN 0.000000 ns CLKNET "clk_c" CLKOUT PORT "led[3]" ;
INPUT_SETUP PORT "sw[0]" 2.000000 ns CLKNET "clk_c" ;
INPUT_SETUP PORT "sw[1]" 2.000000 ns CLKNET "clk_c" ;
INPUT_SETUP PORT "sw[2]" 2.000000 ns CLKNET "clk_c" ;
INPUT_SETUP PORT "sw[3]" 2.000000 ns CLKNET "clk_c" ;
