(edif count8
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2010 3 1 14 37 1)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "C-2009.03L-1, mapper map400lat, Build 146R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell CCU2B (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A0 (direction INPUT))
           (port B0 (direction INPUT))
           (port C0 (direction INPUT))
           (port D0 (direction INPUT))
           (port A1 (direction INPUT))
           (port B1 (direction INPUT))
           (port C1 (direction INPUT))
           (port D1 (direction INPUT))
           (port CIN (direction INPUT))
           (port COUT (direction OUTPUT))
           (port S0 (direction OUTPUT))
           (port S1 (direction OUTPUT))
         )
        (property INJECT1_1 (string "NO"))
        (property INJECT1_0 (string "NO"))
        (property INIT1 (string "0000"))
        (property INIT0 (string "0000"))
       )
    )
    (cell FD1S3DX (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port D (direction INPUT))
           (port CK (direction INPUT))
           (port CD (direction INPUT))
           (port Q (direction OUTPUT))
         )
       )
    )
    (cell FD1P3AX (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port D (direction INPUT))
           (port SP (direction INPUT))
           (port CK (direction INPUT))
           (port Q (direction OUTPUT))
         )
       )
    )
    (cell PUR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port PUR (direction INPUT))
         )
       )
    )
    (cell GSR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port GSR (direction INPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VHI (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell count8 (cellType GENERIC)
       (view rtl (viewType NETLIST)
         (interface
           (port clk (direction INPUT)
 )
           (port reset (direction INPUT))
           (port direction (direction INPUT))
           (port (array (rename count "count(7:0)") 8) (direction OUTPUT))
         )
         (contents
          (instance PUR_INST (viewRef PRIM (cellRef PUR (libraryRef LUCENT)))
          )
          (instance GSR_INST (viewRef PRIM (cellRef GSR (libraryRef LUCENT)))
          )
          (instance VCC_0 (viewRef PRIM (cellRef VHI (libraryRef LUCENT)))          )
          (instance GND_0 (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance reset_RNIP09 (viewRef PRIM (cellRef INV (libraryRef LUCENT)))          )
          (instance countbi_0 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countbi_1 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countbi_2 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countai_0 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_0 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countai_1 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_1 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countai_2 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_2 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countai_3 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_3 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countbi_3 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countbi_4 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countbi_5 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countbi_6 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countai_4 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_4 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countai_5 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_5 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countai_6 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_6 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countai_7 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance count_7 (viewRef PRIM (cellRef FD1P3AX (libraryRef LUCENT)))
          )
          (instance countbi_7 (viewRef PRIM (cellRef FD1S3DX (libraryRef LUCENT)))
          )
          (instance countai_s_0_7 (viewRef PRIM (cellRef CCU2B (libraryRef LUCENT)))
           (property INIT0 (string "0x090a"))
           (property INJECT1_1 (string "NO"))
           (property INJECT1_0 (string "NO"))
           (property INIT1 (string "0x0a0c"))
          )
          (instance countai_cry_0_5 (viewRef PRIM (cellRef CCU2B (libraryRef LUCENT)))
           (property INIT0 (string "0xc305"))
           (property INJECT1_1 (string "NO"))
           (property INJECT1_0 (string "NO"))
           (property INIT1 (string "0xc305"))
          )
          (instance countai_cry_0_3 (viewRef PRIM (cellRef CCU2B (libraryRef LUCENT)))
           (property INIT0 (string "0xc305"))
           (property INJECT1_1 (string "NO"))
           (property INJECT1_0 (string "NO"))
           (property INIT1 (string "0xc305"))
          )
          (instance countai_cry_0_1 (viewRef PRIM (cellRef CCU2B (libraryRef LUCENT)))
           (property INIT0 (string "0xc305"))
           (property INJECT1_1 (string "NO"))
           (property INJECT1_0 (string "NO"))
           (property INIT1 (string "0xc305"))
          )
          (instance countai_cry_0_0 (viewRef PRIM (cellRef CCU2B (libraryRef LUCENT)))
           (property INIT0 (string "0x0a0c"))
           (property INJECT1_1 (string "NO"))
           (property INJECT1_0 (string "NO"))
           (property INIT1 (string "0xc305"))
          )
          (net clk (joined
           (portRef clk)
           (portRef CK (instanceRef countbi_7))
           (portRef CK (instanceRef count_7))
           (portRef CK (instanceRef countai_7))
           (portRef CK (instanceRef count_6))
           (portRef CK (instanceRef countai_6))
           (portRef CK (instanceRef count_5))
           (portRef CK (instanceRef countai_5))
           (portRef CK (instanceRef count_4))
           (portRef CK (instanceRef countai_4))
           (portRef CK (instanceRef countbi_6))
           (portRef CK (instanceRef countbi_5))
           (portRef CK (instanceRef countbi_4))
           (portRef CK (instanceRef countbi_3))
           (portRef CK (instanceRef count_3))
           (portRef CK (instanceRef countai_3))
           (portRef CK (instanceRef count_2))
           (portRef CK (instanceRef countai_2))
           (portRef CK (instanceRef count_1))
           (portRef CK (instanceRef countai_1))
           (portRef CK (instanceRef count_0))
           (portRef CK (instanceRef countai_0))
           (portRef CK (instanceRef countbi_2))
           (portRef CK (instanceRef countbi_1))
           (portRef CK (instanceRef countbi_0))
          ))
          (net reset (joined
           (portRef reset)
           (portRef CD (instanceRef countbi_7))
           (portRef CD (instanceRef countai_7))
           (portRef CD (instanceRef countai_6))
           (portRef CD (instanceRef countai_5))
           (portRef CD (instanceRef countai_4))
           (portRef CD (instanceRef countbi_6))
           (portRef CD (instanceRef countbi_5))
           (portRef CD (instanceRef countbi_4))
           (portRef CD (instanceRef countbi_3))
           (portRef CD (instanceRef countai_3))
           (portRef CD (instanceRef countai_2))
           (portRef CD (instanceRef countai_1))
           (portRef CD (instanceRef countai_0))
           (portRef CD (instanceRef countbi_2))
           (portRef CD (instanceRef countbi_1))
           (portRef CD (instanceRef countbi_0))
           (portRef A (instanceRef reset_RNIP09))
          ))
          (net count_0 (joined
           (portRef Q (instanceRef count_0))
           (portRef (member count 7))
          ))
          (net count_1 (joined
           (portRef Q (instanceRef count_1))
           (portRef (member count 6))
          ))
          (net count_2 (joined
           (portRef Q (instanceRef count_2))
           (portRef (member count 5))
          ))
          (net count_3 (joined
           (portRef Q (instanceRef count_3))
           (portRef (member count 4))
          ))
          (net count_4 (joined
           (portRef Q (instanceRef count_4))
           (portRef (member count 3))
          ))
          (net count_5 (joined
           (portRef Q (instanceRef count_5))
           (portRef (member count 2))
          ))
          (net count_6 (joined
           (portRef Q (instanceRef count_6))
           (portRef (member count 1))
          ))
          (net count_7 (joined
           (portRef Q (instanceRef count_7))
           (portRef (member count 0))
          ))
          (net countbi_0 (joined
           (portRef Q (instanceRef countbi_0))
           (portRef D (instanceRef count_0))
          ))
          (net countbi_1 (joined
           (portRef Q (instanceRef countbi_1))
           (portRef D (instanceRef count_1))
          ))
          (net countbi_2 (joined
           (portRef Q (instanceRef countbi_2))
           (portRef D (instanceRef count_2))
          ))
          (net countbi_3 (joined
           (portRef Q (instanceRef countbi_3))
           (portRef D (instanceRef count_3))
          ))
          (net countbi_4 (joined
           (portRef Q (instanceRef countbi_4))
           (portRef D (instanceRef count_4))
          ))
          (net countbi_5 (joined
           (portRef Q (instanceRef countbi_5))
           (portRef D (instanceRef count_5))
          ))
          (net countbi_6 (joined
           (portRef Q (instanceRef countbi_6))
           (portRef D (instanceRef count_6))
          ))
          (net countbi_7 (joined
           (portRef Q (instanceRef countbi_7))
           (portRef D (instanceRef count_7))
          ))
          (net countai_0 (joined
           (portRef Q (instanceRef countai_0))
           (portRef B1 (instanceRef countai_cry_0_0))
           (portRef D (instanceRef countbi_0))
          ))
          (net countai_1 (joined
           (portRef Q (instanceRef countai_1))
           (portRef B0 (instanceRef countai_cry_0_1))
           (portRef D (instanceRef countbi_1))
          ))
          (net countai_2 (joined
           (portRef Q (instanceRef countai_2))
           (portRef B1 (instanceRef countai_cry_0_1))
           (portRef D (instanceRef countbi_2))
          ))
          (net countai_3 (joined
           (portRef Q (instanceRef countai_3))
           (portRef B0 (instanceRef countai_cry_0_3))
           (portRef D (instanceRef countbi_3))
          ))
          (net countai_4 (joined
           (portRef Q (instanceRef countai_4))
           (portRef B1 (instanceRef countai_cry_0_3))
           (portRef D (instanceRef countbi_4))
          ))
          (net countai_5 (joined
           (portRef Q (instanceRef countai_5))
           (portRef B0 (instanceRef countai_cry_0_5))
           (portRef D (instanceRef countbi_5))
          ))
          (net countai_6 (joined
           (portRef Q (instanceRef countai_6))
           (portRef B1 (instanceRef countai_cry_0_5))
           (portRef D (instanceRef countbi_6))
          ))
          (net countai_7 (joined
           (portRef Q (instanceRef countai_7))
           (portRef B0 (instanceRef countai_s_0_7))
           (portRef D (instanceRef countbi_7))
          ))
          (net countai_cry_0 (joined
           (portRef COUT (instanceRef countai_cry_0_0))
           (portRef CIN (instanceRef countai_cry_0_1))
          ))
          (net countai_s_0 (joined
           (portRef S1 (instanceRef countai_cry_0_0))
           (portRef D (instanceRef countai_0))
          ))
          (net countai_s_1 (joined
           (portRef S0 (instanceRef countai_cry_0_1))
           (portRef D (instanceRef countai_1))
          ))
          (net countai_cry_2 (joined
           (portRef COUT (instanceRef countai_cry_0_1))
           (portRef CIN (instanceRef countai_cry_0_3))
          ))
          (net countai_s_2 (joined
           (portRef S1 (instanceRef countai_cry_0_1))
           (portRef D (instanceRef countai_2))
          ))
          (net countai_s_3 (joined
           (portRef S0 (instanceRef countai_cry_0_3))
           (portRef D (instanceRef countai_3))
          ))
          (net countai_cry_4 (joined
           (portRef COUT (instanceRef countai_cry_0_3))
           (portRef CIN (instanceRef countai_cry_0_5))
          ))
          (net countai_s_4 (joined
           (portRef S1 (instanceRef countai_cry_0_3))
           (portRef D (instanceRef countai_4))
          ))
          (net countai_s_5 (joined
           (portRef S0 (instanceRef countai_cry_0_5))
           (portRef D (instanceRef countai_5))
          ))
          (net countai_cry_6 (joined
           (portRef COUT (instanceRef countai_cry_0_5))
           (portRef CIN (instanceRef countai_s_0_7))
          ))
          (net countai_s_6 (joined
           (portRef S1 (instanceRef countai_cry_0_5))
           (portRef D (instanceRef countai_6))
          ))
          (net countai_s_7 (joined
           (portRef S0 (instanceRef countai_s_0_7))
           (portRef D (instanceRef countai_7))
          ))
          (net countai_cry_0_S0_0 (joined
           (portRef S0 (instanceRef countai_cry_0_0))
          ))
          (net countai_s_0_S1_7 (joined
           (portRef S1 (instanceRef countai_s_0_7))
          ))
          (net countai_s_0_COUT_7 (joined
           (portRef COUT (instanceRef countai_s_0_7))
          ))
          (net direction (joined
           (portRef direction)
           (portRef C1 (instanceRef countai_cry_0_0))
           (portRef A1 (instanceRef countai_cry_0_0))
           (portRef B0 (instanceRef countai_cry_0_0))
           (portRef C1 (instanceRef countai_cry_0_1))
           (portRef A1 (instanceRef countai_cry_0_1))
           (portRef C0 (instanceRef countai_cry_0_1))
           (portRef A0 (instanceRef countai_cry_0_1))
           (portRef C1 (instanceRef countai_cry_0_3))
           (portRef A1 (instanceRef countai_cry_0_3))
           (portRef C0 (instanceRef countai_cry_0_3))
           (portRef A0 (instanceRef countai_cry_0_3))
           (portRef C1 (instanceRef countai_cry_0_5))
           (portRef A1 (instanceRef countai_cry_0_5))
           (portRef C0 (instanceRef countai_cry_0_5))
           (portRef A0 (instanceRef countai_cry_0_5))
           (portRef A0 (instanceRef countai_s_0_7))
          ))
          (net GND (joined
           (portRef Z (instanceRef GND_0))
           (portRef CIN (instanceRef countai_cry_0_0))
           (portRef C0 (instanceRef countai_cry_0_0))
           (portRef A0 (instanceRef countai_cry_0_0))
           (portRef C1 (instanceRef countai_s_0_7))
           (portRef B1 (instanceRef countai_s_0_7))
           (portRef A1 (instanceRef countai_s_0_7))
           (portRef C0 (instanceRef countai_s_0_7))
          ))
          (net VCC (joined
           (portRef Z (instanceRef VCC_0))
           (portRef D1 (instanceRef countai_cry_0_0))
           (portRef D0 (instanceRef countai_cry_0_0))
           (portRef D1 (instanceRef countai_cry_0_1))
           (portRef D0 (instanceRef countai_cry_0_1))
           (portRef D1 (instanceRef countai_cry_0_3))
           (portRef D0 (instanceRef countai_cry_0_3))
           (portRef D1 (instanceRef countai_cry_0_5))
           (portRef D0 (instanceRef countai_cry_0_5))
           (portRef D1 (instanceRef countai_s_0_7))
           (portRef D0 (instanceRef countai_s_0_7))
           (portRef GSR (instanceRef GSR_INST))
           (portRef PUR (instanceRef PUR_INST))
          ))
          (net reset_i (joined
           (portRef Z (instanceRef reset_RNIP09))
           (portRef SP (instanceRef count_7))
           (portRef SP (instanceRef count_6))
           (portRef SP (instanceRef count_5))
           (portRef SP (instanceRef count_4))
           (portRef SP (instanceRef count_3))
           (portRef SP (instanceRef count_2))
           (portRef SP (instanceRef count_1))
           (portRef SP (instanceRef count_0))
          ))
         )
       )
    )
  )
  (design count8 (cellRef count8 (libraryRef work))
	(property PART (string "lfe2_6e-5") ))
)
