BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

LOCATE COMP "count2t[24]" SITE "P16" ;
LOCATE COMP "count2t[25]" SITE "N15" ;
LOCATE COMP "count2t[26]" SITE "L13" ;
LOCATE COMP "count2t[27]" SITE "K11" ;
LOCATE COMP "count2t[28]" SITE "L12" ;
LOCATE COMP "count2t[29]" SITE "J11" ;
LOCATE COMP "count2t[30]" SITE "J13" ;
LOCATE COMP "count2t[31]" SITE "H11" ;

IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "direction" SITE "N2" ;
