BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clk_3wi" 8.000000 MHz ;
CLOCK_TO_OUT PORT "wdat_0" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_0" ;
//clock to out constraint for ASC1.  Required if define parameter ASC_COUNT >= 2.
CLOCK_TO_OUT PORT "wdat_1" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_1" ;
//clock to out constraint for ASC2.  Required if define parameter ASC_COUNT >= 3.
CLOCK_TO_OUT PORT "wdat_2" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_2" ;
//clock to out constraint for ASC3.  Required if define parameter ASC_COUNT >= 4.
CLOCK_TO_OUT PORT "wdat_3" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_3" ;
//clock to out constraint for ASC4.  Required if define parameter ASC_COUNT >= 5.
CLOCK_TO_OUT PORT "wdat_4" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_4" ;
//clock to out constraint for ASC5.  Required if define parameter ASC_COUNT >= 6.
CLOCK_TO_OUT PORT "wdat_5" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_5" ;
//clock to out constraint for ASC6.  Required if define parameter ASC_COUNT >= 7.
CLOCK_TO_OUT PORT "wdat_6" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_6" ;
//clock to out constraint for ASC7.  Required if define parameter ASC_COUNT = 8.
CLOCK_TO_OUT PORT "wdat_7" 17.000000 ns MIN -1.000000 ns CLKNET "wrclk_0_c" CLKOUT PORT "wrclk_7" ;


